<div class="panel panel-default panel-intro">
    <div class="tab-content">
        <div class="tab-pane fade active in">
            <div class="widget-body no-padding">
            <div  id="title" style="text-align: center;">
                <h2>服务器集群管理</h2>
                <br>
                <br>
            </div>
            <div id="toolbar" class="toolbar">
                 {:build_toolbar()}
            </div>
                <table id="table" class="table table-bordered table-hover table-striped" width="100%">
      

                 </table>
                </div>
        </div>
    </div>
</div>
