<style>
    .panel-statistics h4 {
        color: #ffffffd6;
        font-weight: bold;
        font-size: 17px;
    }

    .panel-statistics h3 {
        font-weight: 1000;
        
        font-size: 17px;
        color: #f5f5f5;
    }

    .panel-statistics .statistics-value {
        font-size:14px;
        color: #666;
    }

    .panel-statistics em {
        font-style: normal;
    }

    a{
        color: #fff;
        font-size: 16px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    a:link{
        color:#fff;
    }

    .panel-statistics .pull-right {
        padding-right: 10px;
    }

    .panel-statistics .table thead tr th {
        font-weight: normal;
    }

    .panel-statistics .table tbody tr td {
        font-weight: normal;
        vertical-align: middle;
    }

    .panel-statistics .table tbody tr td p {
        margin: 0;
    }

    #echarts1 textarea {
        display: block;
    }

    select.model_id {
        min-width: 60px;
    }

    body {
    background-image: url(../../../../../assets/image/6.png);
    font-size: 14px;
    line-height: 1.5715;
}


    .panel-body{
    background-image: url(../../../../../assets/image/6.png);
    color: #fff;
    border: solid;
    border-style: double;
    border-color: #999;
    }

    .panel-body-statistic{
     background-image: url(../../../../../assets/image/6.png);
    font-size: medium;
    color: #fff;
    box-shadow: 0 0 22px 5px #ffffff73;
    position: relative;
    left: -7%;
    border: solid;
    border-style: double;
    border-color: #33333373;
    width: 474px;
    height: 440px;
    }

    audio, canvas, progress, video {
    position: absolute;
    left: -19px;
    top: -14px;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 0px;
    margin: 0px;
    border-width: 0px;
    display: inline-block;
    vertical-align: baseline;
}

    tr{
        background-color: #77777763;
    }
</style>

<div id="statistic">
<input class="hidden btn-refresh"  type=" button" onclick="javascript:location.reload()">
<div class="row">
    <div class="col-xs-6 col-sm-3">
        <div class="panel panel-default panel-intro panel-statistics">
            <div class="panel-body">
                <div class="pull-left">
                    <h4>总内网数</h4>
                    <h3>{$allnet}</h3>
                    <a href="{:url('admin/tincui/netmanagement')}" target="_blank">查看</a>
                </div>

                <div class="pull-right" style="color:#c8cfff;"s>
                    <i class="fa fa-cny fa-4x"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="panel panel-default panel-intro panel-statistics">
            <div class="panel-body">
                <div class="pull-left">
                    <h4>有效内网数</h4>
                    <h3>{$netonline}</h3>
                    <a href="{:url('admin/tincui/netmanagement',['status'=>'normal'])}" target="_blank">查看</a>
                </div>

                <div class="pull-right" style="color:#ffc8c8;">
                    <i class="fa fa-calendar fa-4x"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="panel panel-default panel-intro panel-statistics">
            <div class="panel-body">
                <div class="pull-left">
                    <h4>总节点数</h4>
                    <h3>{$allnode}</h3>
                    <a href="{:url('admin/tincui/nodemanagement')}" target="_blank">查看</a>
                </div>

                <div class="pull-right" style="color:#c8e3ff;">
                    <i class="fa fa-users fa-4x"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="panel panel-default panel-intro panel-statistics">
            <div class="panel-body">
                <div class="pull-left">
                    <h4>在线节点数</h4>
                    <h3>{$nodeonline}</h3>
                    <a href="{:url('admin/tincui/nodemanagement',['status'=>'已上线'])}" target="_blank">查看</a>
                </div>

                <div class="pull-right" style="color:#ffe9c8;">
                    <i class="fa fa-user fa-4x"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="col-xs-6 col-sm-3">
    <div class="panel panel-default panel-intro panel-statistics">
        <div class="panel-body-statistic">
            <select name="row[server_name]" id="c-server_name" class="form-control" value=" " data-rule="" style="    position: relative;
            top: -2px;
            width: 164px;
            left: 0%;
            color: #fff;
            font-size: medium;
            background-color: #1a1a1a;">
                <option value="init">选择接入服务器</option>
                <option value="all">all</option>
                {foreach name="servers" item="vo"}
                <option value="{$vo.server_name}">{$vo.server_name}</option>
                {/foreach}
            </select>

            <select name="row[net_name]" id="c-net_name" class="form-control" value=" " data-rule="" style="position: relative;
            top: -35px;
            left: 35%;
            font-size: medium;
            width: 141px;
            color: #fff;
            background-color: #1a1a1a;">
                <option value="init">选择内网</option>
                <option value="all">all</option>
            </select>

            <button type="button" id="confirm" style=" position: relative;
            top: -31px;
            left: 0%;
            background-color: #1a1a1a;">查询</button>
           <div id="chart" style="    position: absolute;
           height: 369px;width: 471px;"></div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row" style="margin-top:20px;">
    {foreach name="netdata" item="vo"}
    <div class="col-xs-12 col-sm-6">
        <div class="panel">
            <div class="panel-body">
                <h3 style="text-align: center;font-family:sans-serif;font-size: 14px;color:#fff;font-weight: bold;">{$vo.net_name}</h3>
                    <table id="table" class="table table-bordered table-hover table-striped" width="100%">
                        <thead  class="table-dark table-striped">
                           <th style="text-align: center; vertical-align: middle; " data-field="id"><div class="th-inner ">内网id</div><div class="fht-cell"></div></th>
                           <th style="text-align: center; vertical-align: middle; " data-field="id"><div class="th-inner ">节点数</div><div class="fht-cell"></div></th>
                           <th style="text-align: center; vertical-align: middle; " data-field="id"><div class="th-inner ">创建时间</div><div class="fht-cell"></div></th>
                           <th style="text-align: center; vertical-align: middle; " data-field="id"><div class="th-inner ">内网状态</div><div class="fht-cell"></div></th>
                        </thead>
                        <tbody>
                          <div>
                            <tr style="background-color: #77777763;">
                                <td style="text-align: center; vertical-align: middle; ">{$vo.net_segment}</td>   
                                <td style="text-align: center; vertical-align: middle; ">{$vo.node_cnt}</td>
                                <td style="text-align: center; vertical-align: middle; ">{$vo.esbtime}</td>
                                <td style="text-align: center; vertical-align: middle; ">{$vo.status}</td>
                            </tr>
                        </div>
                        </tbody>
                        
                      </table>
                      <a href="{:url('admin/tincui/nodemanagement',['status'=>'已上线'])} " target="_blank">在线节点</a>
                      <br>
                      <a href="{:url('admin/tincui/nodemanagement',['status'=>'已下线'])}" target="_blank">离线节点</a>
            </div>
        </div>
    </div>
    {/foreach}
</div>
</div>
