
<style>
    #add-form{
    background-image: url(../../../../../assets/image/6.png);
    background-size:100%;
    padding: 31px;
    position: relative;top: -16px;left: -2%;
    width: 801px;
    height: 556px;

}

.control-label{
    width: auto;
    font-size: 18px;
    color:#f4f4f4cf;
    text-align:center;
    background-color:#4444445e;
    position:relative;top:3px;left: 63px;
}
.form-control{
    width:264px;
    height: 40px;
    border: 1px solid rgba(255,255,255,0.15);
    font-size: 16px;
    color:#eee;
    background-color:#77777761;
}

#info {
    border: 2px ;
    border-radius: 25;
    border-color: #f5f5f5;
    border-style: dotted;
    padding: 16px;
    background: #4444449e;
    background-size: cover;
    display: none;text-align: left;position: relative;top:2%;left:auto;
}

p {
    color: white;
    font-size: medium;
    font-style: normal;
}

option{
        background-color: #444;
    }


</style>
<div id="page">
<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label for="c-server_name" class="col-xs-12 col-sm-2 control-label">{:__('选择接入服务器')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select name="row[server_name]" id="c-server_name" class="form-control" value=" " data-rule="required;servername_rule" style=" border-radius: 5px;position: relative;top:auto;left:53%;">
                <option value="init">选择接入服务器</option>
                {foreach name="servers" item="vo"}
                <option value="{$vo.server_name}">{$vo.server_name}</option>
                {/foreach}
            </select>
        </div>
    </div>


    <div class="form-group">
        <label for="c-net_name" class="col-xs-12 col-sm-2 control-label">{:__('加入内网名称')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select name="row[net_name]" id="c-net_name" class="form-control" value=" " data-rule="required;netname_rule" style="border-radius: 5px;position: relative;top:auto;left:57%;">
                <option value="init">选择内网</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="c-password" class="col-xs-12 col-sm-2 control-label">密码:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-password" type="password" name="row[password]" class="form-control" data-rule="required;password" style="border-radius: 5px;position: relative;top:auto;left:72%;">
        </div>
    </div>

    <div class="form-group">
        <label for="c-node_name" class="col-xs-12 col-sm-2 control-label">节点名称:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-node_name" type="text" name="row[node_name]" class="form-control"
                data-rule="required;IsnodeRepeat;username" style=" border-radius: 5px;position: relative;top:auto;left:64%;">
        </div>
    </div>

    <div class="form-group">
        <label for="c-node_ip" class="col-xs-12 col-sm-2 control-label">内网ip:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-node_ip" type="text" name="row[node_ip]" class="form-control" data-rule="required;IsipRepeat;checkIPv4" style="border-radius: 5px;position: relative;top:auto;left:69%;">
        </div>
    </div>

    <div class="form-group">
        <label for="c-desc"class="col-xs-12 col-sm-2 control-label">备注:</label>
        <div class="col-xs-12 col-sm-8">
             <textarea id="c-desc" data-rule=""  name="row[desc]" class="form-control" style="border-radius: 5px;position: absolute;top:69%;left:71%;"></textarea>
        </div>
    </div> 
    
    <button type="button" class="btn btn-info" style="position:absolute;top:42%;left:43%;background-color:#00000063; font-size: medium;">温馨提示</button>
    <div  id="info">
        <p>1:表单提交后需要您通过sid和密码前往客户端通过认证，配置，配置成功后节点状态将从”配置中“变为”已上线“。</p>
        <p>2:无论客户端的配置成功与否，系统都会提示您，您也可以在”事件查询“中查看，所以不用担心。</p>
        <p>3:与创建内网不同，客户端的配置与管控服务器是异步的，节点配置过程中服务器并不会被阻塞，您任可以进行其他操作。</p>     
    </div>



    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled btn-success-add" style="position: relative;top:-8px;left:30%;
            font-size:medium;
            font-style: normal;
            
            background-color: #0000007a;">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed" style="        position: relative;top:-9px;left:37%;
            font-size:medium;
            font-style: normal;
            background-color: #0000007a;">{:__('Reset')}</button>
        </div>
    </div>
</form>
</div>