<div class="panel panel-default panel-intro">
    <div class="tab-content">
        <div class="tab-pane fade active in">
            <div class="widget-body no-padding">
                <div  id="title" style="text-align: center;">
                    <h2>菜单规则管理</h2>
                    <br>
                    <br>
                </div>
                <div id="toolbar" class="toolbar">
                    <a href="javascript:;" class="btn btn-primary btn-refresh" title="刷新"><i class="fa fa-refresh"></i> </a>
                    <a href="javascript:;" class="btn btn-success btn-add" title="添加"><i class="fa fa-plus"></i> 添加</a>
                </div>
                <table id="table" class="table table-bordered table-hover table-striped" width="100%">


                </table>
            </div>
        </div>
    </div>
</div>
